:root {
    --st-blue: #00a9f7;
    --blueprint-blue: #0553EF;
    --inactive-gray: #6d6d6d;
    --white: #ffffff;

    body{
        font-family: barlow;
    
        h1, h2, h3, h4, h5, h6{
            margin: 0px;
        }
    
        .quiz-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            max-width: 566px;
            padding: 10px;
            border: solid 1px var(--blueprint-blue);
            margin-top: 20px;
    
            #questions-wrap{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
    
                #question-form{
                    display: flex;
                    flex-direction: column;

                    .quiz-question-label{
                        font-weight: bold;
                        letter-spacing: .58px;
                        margin-top: 0px;
                        margin-bottom: 5px;
                    }
        
                    .question-wrapper{
                        border: 2px dashed var(--blueprint-blue);
                        padding: 5px;
                        margin-bottom: 10px;
        
                        fieldset{
                            border: none;

                        /* Styling for Radio Btns */
                            .question{
                                font-weight: normal;
                                font-size: 16px;
                            }
            
                            .question-container{
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                
                                .btn-container{
                                    display: flex; 
                                    margin: 10px;
                                    width: 100%;
                                    max-width: 145px;
                                    padding-right: 10px;
        
                                    input[type="radio"] {
                                        position: absolute;
                                        opacity: 0;
                                        width: 150px;
                                        height: 25px;
                                        z-index: 100;
                                    }
            
                                    label{
                                        text-align: center;
                                        color: var(--inactive-gray);
                                        min-width: 134px;
                                        border: 1px solid var(--inactive-gray);
                                        padding: 5px 10px;
                                        color: var(--inactive-gray);
                                    }
            
                                    input[type="radio"]:checked + label{
                                        color: var(--white);
                                        background-color: var(--blueprint-blue);
                                        letter-spacing: .38px;
                                        border: 1px solid var(--st-blue);
                                        box-shadow: 0 0 8px var(--st-blue);

                                    }
                                }

                                .btn-container:hover{
                                    border: 1px solid var(--st-blue);
                                    box-shadow: 0 0 8px var(--st-blue);
                                    label{
                                        color: var(--st-blue);
                                        border: 1px solid var(--st-blue);
                                    }
                                }
        
                                .btn-container:nth-child(1),
                                .btn-container:nth-child(4),{
                                    margin-left: 0px;
                                }
        
                                .btn-container:nth-child(4),
                                .btn-container:nth-child(5){
                                    margin-top: 0px;
                                    margin-bottom: 5px;
                                }
                                
                            }
                        }
                    }
                    .submit-container{
                        align-self: flex-end;
                        display: flex;
                        margin-right: 10px;


                        #submit{
                            color: var(--blueprint-blue);
                            border: none;
                            font-weight: bold;
                        }
                        .material-icons{
                            color: var(--blueprint-blue);
                        }
                    }
                    .submit-container:hover{
                        .input#submit{
                            font-size: 28px;
                        }

                        .material-icons{
                            position: relative;
                            left: 10px;
                            animation: submit-arrow .5s ease-in;
                        }
                        @keyframes submit-arrow {
                            from {left: 0px;}
                            to {left: 10px;}
                          }
                    }
                }
            }
            #results-container{
                display: none;
                position: initial;
                background-color: #ffffff;
                width: 566px;
                height: fit-content;
                text-align: center;
                
                h2{
                    color: var(--blueprint-blue);
                }

                #result{
                    color: var(--blueprint-blue);
                }
            }
        }
    }
  }


  @media (max-width: 576px) {
        :root{

            body{

                .quiz-container  {
                    width: 95% !important;
                    
                    #questions-wrap{

                        #question-form{

                            .question-wrapper{
                                
                                fieldset{
                                    
                                    .question-container{
                                        .btn-container{
                                            width: 120px;
                                            padding-right: unset;
                                
                                            input[type="radio"]{
                                                width: 120px;
                                            }
                                
                                            label{
                                                width: 100px;
                                                min-width: 100px;
                                            }
                                        }
                                        .btn-container:nth-child(1),
                                        .btn-container:nth-child(3),
                                        .btn-container:nth-child(5) {
                                            margin-left: 0px;
                                        }
                                        .btn-container:nth-child(4) {
                                            margin-left: 10px;
                                        }
                                        .btn-container:nth-child(3) {
                                            margin-top: 0px;
                                        }
                                    }
                                }
                            }
                            #submit{
                                background-color: #ffffff;
                            }
                        }
                    }
                    #results-container{
                        width: 100%;
                    }
                }
            }
        }
}


@media (max-width: 320px) {
    :root{

        body{

            .quiz-container  {
                width: 90% !important;
                
                #questions-wrap{

                    #question-form{

                        .question-wrapper{
                            
                            fieldset{
                                
                                .question-container{
                                    .btn-container{
                                        width: 120px;
                                        padding-right: unset;
                            
                                        input[type="radio"]{
                                            width: 120px;
                                        }
                            
                                        label{
                                            width: 100px;
                                            min-width: 100px;
                                        }
                                    }
                                    .btn-container:nth-child(1),
                                    .btn-container:nth-child(2),
                                    .btn-container:nth-child(3),
                                    .btn-container:nth-child(4),
                                    .btn-container:nth-child(5) {
                                        margin-left: 0px;
                                    }
                                    .btn-container:nth-child(2) {
                                        margin-top: 0px;
                                    }
                                    .btn-container:nth-child(3) {
                                        margin-top: 0px;
                                    }
                                    .btn-container:nth-child(5) {
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                        #submit{
                            background-color: #ffffff;
                        }
                    }
                }
                #results-container{
                    width: 100%;
                }
            }
        }
    }
}